/* add your css style rules here */


a {
  color: ;
  text-decoration: none;
}

body {
  background: rgb(163,4,242); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(163,4,242,1) 0%, rgba(173,3,113,1) 90%, rgba(109,0,25,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(163,4,242,1)), color-stop(90%,rgba(173,3,113,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(163,4,242,1) 0%,rgba(173,3,113,1) 90%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(163,4,242,1) 0%,rgba(173,3,113,1) 90%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(163,4,242,1) 0%,rgba(173,3,113,1) 90%,rgba(109,0,25,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(163,4,242,1) 0%,rgba(173,3,113,1) 90%,rgba(109,0,25,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a304f2', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

.step {
  width: 440px;
  height: 400px;
  padding: 40px 60px;

  font-size: 48px;
  text-align: center;

  opacity: 0.3;
  /* font-family: 'Waiting for the Sunrise', cursive; */
  font-family: 'Quicksand', sans-serif;
}

.slide.big {
  width: 800px;
  height: 600px;
}

.step.active {
  opacity: 1;
}

.slide {
  background: white;
}

code {
  background-color: white;
  font-size: 14px;
  color: green
}

